Repository MithrilJS/mithril.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tivac, @isiahmeadows, @pygy

.github/CODEOWNERS:

.travis.yml     @tivac
package.json    @tivac
.npmignore      @tivac
.eslintrc.js    @tivac
.eslintignore   @tivac
README.md       @tivac
docs/           @tivac
performance/    @tivac
render/         @isiahmeadows @pygy

Add Typescript install notes
  docs/installation.md
Owners: @tivac

docs: Add Typescript install notes (#2057)
  docs/installation.md
Owners: @tivac

Correct test scripts
  api/tests/index.html
  stream/tests/index.html
  test-utils/tests/index.html
  tests/index.html
Owners: none

Small optimization in querystring parse.js
  querystring/parse.js
Owners: none

Small optimization in render hyperscript.js
  render/hyperscript.js
Owners: @isiahmeadows, @pygy

Remove temporary variable
  render/hyperscript.js
Owners: @isiahmeadows, @pygy

Small optimization in render hyperscript.js
  render/hyperscript.js
Owners: @isiahmeadows, @pygy

Small adjustment
  querystring/parse.js
Owners: none

Remove sloppy mode comment
  render/hyperscript.js
Owners: @isiahmeadows, @pygy

1st try to resolve issue 1773
  render/hyperscript.js
  render/render.js
  render/tests/issue-1773.html
  render/tests/test-hyperscript.js
Owners: @isiahmeadows, @pygy

Fix wrong link targets and typos
  docs/stream.md
Owners: @tivac

docs: Fix wrong link targets and typos (#2066)
  docs/stream.md
Owners: @tivac

Correctly handle invalid escapes in routes
  api/tests/test-router.js
  docs/change-log.md
  router/router.js
  router/tests/test-defineRoutes.js
  router/tests/test-getPath.js
  router/tests/test-setPath.js
Owners: @tivac

Update es6.md
  docs/es6.md
Owners: @tivac

Access document.activeElement through a function that eats errors for IE
  render/render.js
Owners: @isiahmeadows, @pygy

more verbose comment
  render/render.js
Owners: @isiahmeadows, @pygy

Updated changelog
  docs/change-log.md
Owners: @tivac

Fix typo
  render/render.js
Owners: @isiahmeadows, @pygy

Return null instead of document.body when .activeElement fails
  render/render.js
Owners: @isiahmeadows, @pygy

Update nav-guides.md
  docs/nav-guides.md
Owners: @tivac

docs: fix git commands for releasing
  docs/releasing.md
Owners: @tivac

fix typo
  docs/index.md
Owners: @tivac

docs: fix typo (#2077)
  docs/index.md
Owners: @tivac

Added iframe test
  render/tests/manual/iframe.html
  render/tests/manual/iframe.js
  render/tests/manual/index.html
Owners: @isiahmeadows, @pygy

Fix inconsistent path in router.html variadic routes example
  docs/route.md
Owners: @tivac

docs: Fix inconsistent path in router.md variadic routes example
  docs/route.md
Owners: @tivac

docs: Fix inconsistent path in router.md variadic routes example (#2084)
  docs/route.md
Owners: @tivac

value of element is not removed when new valor is undefined
  render/render.js
Owners: @isiahmeadows, @pygy

element value don't change if new valor is undefined
  render/render.js
Owners: @isiahmeadows, @pygy

element value don't change if new valor is undefined
  mithril.js
  mithril.min.js
Owners: none

element value is not cleared when value valor change to undefined
  docs/change-log.md
  render/render.js
  render/tests/test-input.js
Owners: @tivac, @isiahmeadows, @pygy

element value is not cleared when value valor change to undefined
  docs/change-log.md
  render/render.js
  render/tests/test-input.js
Owners: @tivac, @isiahmeadows, @pygy

Bundled output for commit 83884bdc90c62c785061035bcd39c94eb6e90f52 [skip ci]
  README.md
  mithril.js
  mithril.min.js
Owners: @tivac

Add Promise finally method to polyfill
  promise/promise.js
  promise/tests/test-promise.js
Owners: none

fix: Access document.activeElement through a function that eats errors for IE (#2075)
  docs/change-log.md
  render/render.js
  render/tests/manual/iframe.html
  render/tests/manual/iframe.js
  render/tests/manual/index.html
Owners: @tivac, @isiahmeadows, @pygy

test: inline iframe.js so ospec doesn't try to run it
  render/tests/manual/iframe.html
  render/tests/manual/iframe.js
Owners: @isiahmeadows, @pygy

Add another simple finally test
  promise/tests/test-promise.js
Owners: none

Separate Promise implementation from polyfilling
  docs/change-log.md
  docs/promise.md
  index.js
  promise/polyfill.js
  promise/promise.js
  promise/tests/test-promise.js
Owners: @tivac

Separate Promise implementation from polyfilling
  docs/change-log.md
  docs/promise.md
  index.js
  promise/polyfill.js
  promise/promise.js
  promise/tests/test-promise.js
Owners: @tivac

Bundled output for commit d283b243371ec5e440fb05e9689944b5340663fe [skip ci]
  README.md
  mithril.js
  mithril.min.js
Owners: @tivac
