Repository MithrilJS/mithril.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tivac, @isiahmeadows, @pygy

Better tests for Promise.prototype.finally
  promise/tests/test-promise.js
Owners: none

Update installation.md
  docs/installation.md
Owners: @tivac

Fix GitHub casing
  docs/layout.html
Owners: @tivac

docs: correct some webpack bitrot
  docs/installation.md
Owners: @tivac

Remove note about bin/app.js
  docs/installation.md
Owners: @tivac

docs: Minor casing changes (#2093)
  docs/installation.md
  docs/layout.html
Owners: @tivac

Add docs checkbox
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

docs: correct some webpack bitrot (#2094)
  docs/installation.md
Owners: @tivac

[mocks] Add some support for parsing SVG using the DOMParser API and innerHTML
  docs/change-log.md
  test-utils/domMock.js
  test-utils/tests/test-domMock.js
Owners: @tivac

typo fix
  docs/stream.md
Owners: @tivac

[render] add support for SVG in `m.trust()` strings
  docs/change-log.md
  docs/trust.md
  render/render.js
  render/tests/test-createHTML.js
Owners: @tivac, @isiahmeadows, @pygy

[render] add support for SVG in `m.trust()` strings
  docs/change-log.md
  docs/trust.md
  render/render.js
  render/tests/test-createHTML.js
Owners: @tivac, @isiahmeadows, @pygy

[mocks] Add some support for parsing SVG using the DOMParser API and innerHTML
  docs/change-log.md
  test-utils/domMock.js
  test-utils/tests/test-domMock.js
Owners: @tivac

Bundled output for commit ad46a21a7d454860e757cb15cee9bdb65591ea3f [skip ci]
  README.md
  mithril.js
  mithril.min.js
Owners: @tivac

Document the reason for the possibleParents map
  render/render.js
Owners: @isiahmeadows, @pygy

Document the reason for the possibleParents map
  render/render.js
Owners: @isiahmeadows, @pygy

Bundled output for commit d21ba5ee6a8921e48cb89cbbc4f05547d039d6e8 [skip ci]
  mithril.js
Owners: none

Bundled output for commit 0b83c29ab6e6ae96a139fe8c9afc7e532e2b78f2 [skip ci]
  README.md
  mithril.js
  mithril.min.js
Owners: @tivac

closing parenthese missing
  docs/render.md
Owners: @tivac

update changelog
  docs/change-log.md
Owners: @tivac

doc: add missing parenthesis (#2104)
  docs/change-log.md
  docs/render.md
Owners: @tivac

docs: Fix webpack example
  docs/jsx.md
Owners: @tivac

docs: Fix webpack example (#2110)
  docs/jsx.md
Owners: @tivac

docs: update with latest fixes
  docs/animation.md
  docs/code-of-conduct.md
  docs/components.md
  docs/contributing.md
  docs/css.md
  docs/generate.js
  docs/index.md
  docs/installation.md
  docs/integrating-libs.md
  docs/jsx.md
  docs/keys.md
  docs/layout.html
  docs/learning-mithril.md
  docs/mount.md
  docs/nav-guides.md
  docs/promise.md
  docs/redraw.md
  docs/releasing.md
  docs/render.md
  docs/request.md
  docs/route.md
  docs/simple-application.md
  docs/stream.md
  docs/style.css
  docs/support.md
  docs/testing.md
  docs/trust.md
  docs/vnodes.md
Owners: @tivac

docs: update with latest fixes (#2116)
  docs/animation.md
  docs/code-of-conduct.md
  docs/components.md
  docs/contributing.md
  docs/css.md
  docs/generate.js
  docs/index.md
  docs/installation.md
  docs/integrating-libs.md
  docs/jsx.md
  docs/keys.md
  docs/layout.html
  docs/learning-mithril.md
  docs/mount.md
  docs/nav-guides.md
  docs/promise.md
  docs/redraw.md
  docs/releasing.md
  docs/render.md
  docs/request.md
  docs/route.md
  docs/simple-application.md
  docs/stream.md
  docs/style.css
  docs/support.md
  docs/testing.md
  docs/trust.md
  docs/vnodes.md
Owners: @tivac

docs: Fix some site weirdness
  docs/installation.md
  docs/integrating-libs.md
  docs/learning-mithril.md
  docs/nav-guides.md
  docs/support.md
Owners: @tivac

docs: Fix some site weirdness
  docs/installation.md
  docs/integrating-libs.md
  docs/learning-mithril.md
  docs/nav-guides.md
  docs/support.md
Owners: @tivac

awkward/redundant fix
  docs/route.md
Owners: @tivac

docs: awkward/redundant fix (#2120)
  docs/route.md
Owners: @tivac

Remove the DOM nodes recycling pool (fix #1653, fix #2023)
  docs/change-log.md
  performance/test-perf.js
  render/render.js
  render/tests/test-component.js
  render/tests/test-onbeforeupdate.js
  render/tests/test-onremove.js
  render/tests/test-updateElement.js
  render/tests/test-updateNodes.js
Owners: @tivac, @isiahmeadows, @pygy

Remove the DOM nodes recycling pool (fix #1653, fix #2023)
  docs/change-log.md
  performance/test-perf.js
  render/render.js
  render/tests/test-component.js
  render/tests/test-onbeforeupdate.js
  render/tests/test-onremove.js
  render/tests/test-updateElement.js
  render/tests/test-updateNodes.js
Owners: @tivac, @isiahmeadows, @pygy

Bundled output for commit 203df39c304b5f89f4efa591d0e563bcb5d94155 [skip ci]
  README.md
  mithril.js
  mithril.min.js
Owners: @tivac

docs: latest site updates
  docs/installation.md
  docs/integrating-libs.md
  docs/learning-mithril.md
  docs/nav-guides.md
  docs/route.md
  docs/support.md
Owners: @tivac

docs: latest site updates (#2126)
  docs/installation.md
  docs/integrating-libs.md
  docs/learning-mithril.md
  docs/nav-guides.md
  docs/route.md
  docs/support.md
Owners: @tivac

.github/CODEOWNERS:

.travis.yml     @tivac
package.json    @tivac
.npmignore      @tivac
.eslintrc.js    @tivac
.eslintignore   @tivac
README.md       @tivac
docs/           @tivac
performance/    @tivac
render/         @isiahmeadows @pygy
